<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
     <application
        android:label="instant_quote"
        android:icon="@mipmap/ic_launcher">

<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAtGky6L1GNTEyn3tR4NTn-ReCDo-UjJwI"/>
    </application>
</manifest>
